@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:700");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

@import url(components/cards.css);
@import url(components/container.css);
@import url(components/avatar.css);
@import url(components/buttons.css);


body{
    font-family: Open Sans, sans-serif;
    background: whitesmoke;
}

h1{
    text-align: center;
    font-family: Poppins, sans-serif;
}