/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

body{
    background: rgb(228, 241, 244);
    font-family: 'Poppins', sans-serif;
}
a{
    color: white;
    background: rgb(22, 45, 177);
    border: 2px solid rgb(22, 45, 177);
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}
a:hover{
    color: rgb(22, 45, 177);
    background: white;
    border: 2px solid rgb(22, 45, 177);
}

h2{
    color: rgb(80, 173, 255);
}
li{
    font-size: 30px;
}

div{
    background: white;
    border-radius: 8px;
    padding: 30px;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0 10px 30px rgba(22, 45, 177, .1);
    width: 600px;
}

.list{
    list-style: none;
    padding: 0;
}

.list-items{
    display: inline-block;
    margin: 0 10px;
}

#btn-blue{
    display: inline-block;
    margin-top: 40px;
}